<div>
	{{#each content}}

	<div class="story_block_container">

		<div class="tag_column" fade-in="500" fade-out="500">

			<ul>
				{{#each cats}}
					{{#if exists}} <li class="{{classify(this)}}">{{this}}</li> {{else}} <li class="{{classify(this)}}">{{this}} <span class="newbeat">NEW</span></li>{{/if}}
				{{/each}}

				

			</ul>

		</div>

		<div class="story_block column" fade-in="500" fade-out="500">

			<h2>{{item}}</h2>

			<div>

				{{#if solo}}

	  				<div class="read-more-solo">
						{{{html}}}
					</div>

					{{#if url}}
					 	<a href="{{this.url}}" target="_blank"><div class="curl">{{this.linktext}}</div></a>
					 	{{else}}
					 	<div class="supplental">{{this.linktext}}</div>
					{{/if}}

				{{else}}
				
					<input type="checkbox" class="read-more-state" id="post-{{@key}}" />

	  				<div class="read-more-wrap">
						{{{html}}}
					</div>

					<label for="post-{{@key}}" class="read-more-trigger"></label>

				{{/if}}

			</div>

		</div>



	</div>

	{{/each}}

</div>
