  <div id="app">

    <h1></h1>

    <div id="header_shizzle">
      <div class="flip-container" data-back="slide2" data-front="slide1">
        <div class="flipper">
          <div class="flipper-front slide1" id="ff0"></div>
          <div class="flipper-back slide2" id="fb0"></div>
        </div>
      </div>
      <div class="flip-container" data-back="slide4" data-front="slide3">
        <div class="flipper">
          <div class="flipper-front slide3" id="ff1"></div>
          <div class="flipper-back slide4" id="fb1"></div>
        </div>
      </div>
      <div class="flip-container" data-back="slide6" data-front="slide5">
        <div class="flipper">
          <div class="flipper-front slide5" id="ff2"></div>
          <div class="flipper-back slide6" id="fb2"></div>
        </div>
      </div>
      <div class="flip-container" data-back="slide8" data-front="slide7">
        <div class="flipper">
          <div class="flipper-front slide7" id="ff3"></div>
          <div class="flipper-back slide8" id="fb3"></div>
        </div>
      </div>
    </div>    

  </div>