@import "mq";

#header_shizzle {
	width: 100%;
}

.flip-container {
	
	height: 0px;

    @include mq($until: tablet) {
    	width: 33.33%;
    	padding-bottom: 25%;
    }

    @include mq($from: tablet) {
    	width: 25%;
    	padding-bottom: 18%;
    }

}

.flip-container:nth-child(4) {
    @include mq($until: tablet) {
    	display: none;
    }
}

.flip-container {
	float: left;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d
}
.flip-container:hover .flipper-back, .flip-container.hover .flipper-back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg)
}
.flip-container:hover .flipper-front, .flip-container.hover .flipper-front {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg)
}
.flipper-front, .flipper-back {
	width: 100%;
	height: 0px;
	padding-bottom: 66%;
	background-size:100%;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative
}
.flipper-front, .flipper-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(0deg);
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateX(0deg);
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateX(0deg);
	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateX(0deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateX(0deg);
	position: absolute;
	top: 0;
	left: 0
}
.flipper-front {
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	z-index: 2
}
.flipper-back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg)
}

.slide1 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-1.jpg");
}

.slide2 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-2.jpg");
}

.slide3 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-3.jpg");
}

.slide4 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-4.jpg");
}

.slide5 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-5.jpg");
}

.slide6 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-6.jpg");
}

.slide7 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-8.jpg");
}

.slide8 {
	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-9.jpg");
}