@import "mq";

#header_shizzle {
	width: 100%;
    display: inline-block;
}

.flip-container {
	
	height: 0px;
    display: block;
    margin-right: -0.5px;

    @include mq($until: tablet) {
    	width: 33.33%;
    	padding-bottom: 20%;
    }

    @include mq($from: tablet) {
    	width: 25%;
    	padding-bottom: 16.45%;
    }

}

.flip-container:nth-child(4) {
    @include mq($until: tablet) {
    	display: none;
    }
}

.flip-container {
	float: left;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d
}
.flip-container:hover .flipper-back, .flip-container.hover .flipper-back {
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-o-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg)
}
.flip-container:hover .flipper-front, .flip-container.hover .flipper-front {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	transform: rotateX(180deg)
}
.flipper-front, .flipper-back {
    float: left;
	width: 100%;
	height: 0px;
	padding-bottom: 66%;
	background-size:100%;
    background-color: lightgrey;
}
.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative
}
.flipper-front, .flipper-back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(0deg);
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateX(0deg);
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	-o-transform: rotateX(0deg);
	-ms-transition: 0.6s;
	-ms-transform-style: preserve-3d;
	-ms-transform: rotateX(0deg);
	transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateX(0deg);
	position: absolute;
	top: 0;
	left: 0
}
.flipper-front {
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	z-index: 2
}
.flipper-back {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg)
}

.slide1 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-1.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-1.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-1.jpg");
    }

}

.slide2 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-2.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-2.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-2.jpg");
    }


}

.slide3 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-3.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-3.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-3.jpg");
    }


}

.slide4 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-4.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-4.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-4.jpg");
    }


}

.slide5 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-5.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-5.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-5.jpg");
    }


}

.slide6 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-6.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-6.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-6.jpg");
    }


}

.slide7 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-20.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-20.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-20.jpg");
    }


}

.slide8 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-8.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-8.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-8.jpg");
    }


}

.slide9 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-9.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-9.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-9.jpg");
    }


}

.slide10 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-10.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-10.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-10.jpg");
    }


}

.slide11 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-11.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-11.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-11.jpg");
    }


}

.slide12 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-12.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-12.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-12.jpg");
    }


}

.slide13 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-13.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-13.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-13.jpg");
    }


}

.slide14 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-14.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-14.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-14.jpg");
    }


}

.slide15 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-15.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-15.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-15.jpg");
    }


}

.slide16 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-16.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-16.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-16.jpg");
    }


}

.slide17 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-17.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-17.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-17.jpg");
    }


}

.slide18 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-18.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-18.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-18.jpg");
    }


}

.slide19 {

    @include mq($until: mobile) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/110/budget-sign-19.jpg");
    }

    @include mq($from: mobile, $until: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/220/budget-sign-19.jpg");
    }

    @include mq($from: tablet) {
    	background-image: url("https://interactive.guim.co.uk/2018/04/budget-vox-pix/budget-sign-19.jpg");
    }


}