@import "mq";

#app {

	width: 100%;

	h1 {
		text-align: center;
		font-size: 3rem;
		margin-top: 40px;
		margin-bottom: 40px;
		line-height: 3.4rem;

	    @include mq($from: mobile, $until: desktop) {
	        padding-left: 20px;
	        padding-right: 20px;
	    }

	}

	.subTitle {
		text-align: left;
		max-width:680px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;

	    @include mq($from: mobile, $until: desktop) {
	        padding-left: 20px;
	        padding-right: 20px;
	    }

	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
		width: 100%;

	}

	.story_block h2 {
		margin-bottom: 0px;
	}

	#content_column {
		box-sizing: border-box;
		width: 100%;
		max-width: 900px;
		margin: auto;
		margin-top: 20px;

	    @include mq($from: mobile, $until: desktop) {
	        padding-left: 20px;
	        padding-right: 20px;
	    }


	}

	#reset_container {
		width: 100%;
		display: none;
		text-align: center;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 14px;
	    margin-top: 20px;

	}

	.select_tags {
		text-align: center;
		background-color: black;
		line-height:40px;
		display: inline-block;
		border-radius: 20px;
		padding-left: 20px;
		padding-right: 20px;
		color: white;
		cursor: pointer;
	}

	#content_count {
		width: 100%;
		display: inline-block;
		text-align: center;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 14px;
		color: black;
		opacity: 0.6;
		margin-top: 20px;
	}

	#update_time {
		float: left;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		text-align: left;
		font-size: 14px;
		color: black;
		opacity: 0.6;
		height: 30px;
		line-height: 30px;
		margin-left: 10px;
		border-left: 1px solid darkgrey;
		padding-left: 10px;
	}

	#content_column h2 {
		width: 100%;
		display: inline-block;
	}

	.info {
		width: 100%;
		text-align: center;
		margin-top: -20px;
		margin-bottom: 10px;
		color: darkgrey;
	}

	.tertiary {
		width: 100%;

	    @include mq($from: tablet) {
	    	margin-bottom: 5px;
	    }

	}

	.leftist {

	    @include mq($until: tablet) {
			display: none;
		}

		@include mq($from: tablet) {
			width: 110px;
			height: 40px;
			float: left;
			line-height: 40px;
			font-size: 14px;
			text-align: right;
			padding-right: 2px;
		}
	}

	.righton {

	    @include mq($until: tablet) {
			width: 100%;
			display: inline-block;
	    }

	    @include mq($from: tablet) {
			width: calc(100% - 120px);
			min-height: 40px;
			float: right;
	    }


	}

	.humanism {
		display: inline-block;
		width: 100%;
	}


	.human {
		width: 100%;
		max-width: 520px;
		margin: auto;
		font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		
	    @include mq($from: mobile, $until: desktop) {
	        display: inline-block;
	        margin-bottom: 10px;
	    }

	    @include mq($from: desktop) {
	        margin-top: 20px;
	        margin-bottom: 20px;
	    }

	}

	.human h2 {
		text-align: left;
	}

	.human ul {
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		font-size: 0.8em;
	}

	.human ul li {
		display: block;
		float: left;
		margin-right: 5px;
		padding: 10px;
		background-color:#636363;
		border-radius: 20px;
		color: white;
		cursor: pointer;
		font-size: 12px;
	    font-weight: 700;

	    @include mq($until: tablet) {
	    	margin-bottom: 5px;
	    }

	    @include mq($from: tablet) {
	    	margin-bottom: 5px;
	    }

	}

	.human ul li.active{
		color: white;
	}

	.human ul li:not(.active) {
		background-color: #636363!important;
	}



}

